<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FileUtilitiesPortBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="https://api.eu-cloudflow.eu:443/sintef/gss-0.1/FileUtilities"
              binding="basicHttpBinding" bindingConfiguration="FileUtilitiesPortBinding"
              contract="CF.Gss.FileUtilities" name="FileUtilitiesPort" />
          <endpoint address="https://api.caxman.eu:443/sintef/infrastructure/gss-0.1/FileUtilities"
                binding="basicHttpBinding" bindingConfiguration="FileUtilitiesPortBinding"
                contract="CM.Gss.FileUtilities" name="FileUtilitiesPort" />
        </client>
    </system.serviceModel>
</configuration>