<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GssInteropClass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FileUtilitiesPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="FileUtilitiesPortBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="FileUtilitiesPortBinding2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://caxman.clesgo.net/sintef/infrastructure/gss-0.1/FileUtilities"
                binding="basicHttpBinding" bindingConfiguration="FileUtilitiesPortBinding"
                contract="CM.Gss.FileUtilities" name="FileUtilitiesPort" />
            <endpoint address="https://caxman.clesgo.net:443/sintef/infrastructure/gss-0.1/FileUtilities"
                binding="basicHttpBinding" bindingConfiguration="FileUtilitiesPortBinding1"
                contract="CM.Gss.FileUtilities" name="FileUtilitiesPort1" />
        </client>
    </system.serviceModel>
<startup>
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
</startup>
    <userSettings>
        <GssInteropClass.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>SessionToken</value>
            </setting>
        </GssInteropClass.Properties.Settings>
    </userSettings>
</configuration>
