/gssClients/gssCSharpClients/AuthentificationWR/bin
/gssClients/gssCSharpClients/AuthentificationWR/obj
/gssClients/gssCSharpClients/AuthentificationWSDL/bin
/gssClients/gssCSharpClients/AuthentificationWSDL/obj
/gssClients/gssCSharpClients/GSS_TestApp/bin
/gssClients/gssCSharpClients/GSS_TestApp/obj
/gssClients/gssCSharpClients/GssInteropClass/bin
/gssClients/gssCSharpClients/GssInteropClass/obj
