<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AuthentificationWSDL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AuthentificationWSDL2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AuthentificationWSDL.Properties.Settings>
            <setting name="AuthentificationWSDL_CMAuth_AuthManager" serializeAs="String">
                <value>https://api.caxman.eu:443/sintef/infrastructure/authManager/AuthManager</value>
            </setting>
            <setting name="AuthentificationWSDL_CFAuth_AuthManager" serializeAs="String">
                <value>https://api.eu-cloudflow.eu:443/sintef/authManager/AuthManager</value>
            </setting>
        </AuthentificationWSDL.Properties.Settings>
    </applicationSettings>
</configuration>